@import "color-definitions";

$footer-bg-color: unquote("rgb(#{$palette-green-800})");
// $footer-bg-color: unquote("rgb(#{$palette-green-800})") !default;

@import 'material-design-lite';
@import 'status-bar';
@import 'tower-stack';
@import 'pop-up-window';

.buy-btn {
  position: fixed;
  right: 0;
  bottom: 0;

  margin: $padding ($padding * 2);
}

.mdl-layout {
  min-height: 100vh;
}
