.sky {
  background: #63bbfb;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
}

.floor--apartment {
  background: yellow;
}

.floor {
  width: 500px;
  list-style: none;
  height: 80px;
  border: solid grey 1px;

}
.the-tower {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  margin: 0;

  min-height: calc(100% - #{$padding * 4});
}

.floor--business-coffee {
  background: black;
}

.floor--business-music {
  background-color: red;
}
