.sky {
  background: #63bbfb;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
}

.floor--apartment {
  background: url(images/apartment.png);
}

.floor {
  width: 500px;
  list-style: none;
  height: 80px;
  border: solid grey 4px;

}
.the-tower {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;

  min-height: calc(100% - #{$padding * 4});
}

.floor--business-coffee {
  background: url(images/coffee-bar.jpg);
}

.floor--business-music {
  background: url(images/music-studio.jpg);
}
